$black: #000000;
$wheit: #ffffff;
$color_1: #232f3e;
$color_2: #131921;

$desktop: 18px;
$ipade: 14px;
$phone: 10px;
@mixin BgImg{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

